body{
    min-height: 100vh;
    background-image: url("https://i.imgur.com/2QEzt8c.png");
    background-repeat: no-repeat;
    display:flex;
    align-content: center;
    justify-content: center;
}
.row{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-flow: row;
}
.col{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;
}
.white{
    color:'white'
}
.btnwhite{
    background-color: white;
    border:1px #42a7f5 solid; 
    border-radius: 33px;
    color:#42a7f5;
    height:7vh;
    width:25vw;
}
.btnblue{
    background-color: #42a7f5;
    border:0px transparent solid; 
    border-radius: 33px;
    color:white;
    height:7vh;
    width:25vw;
}
.btnblue:hover{
    background-color: #3f90ce;
    transition: 0.5s;
}
.btnwhite:hover{
    background-color: #8fc7f16c;
    transition: 0.5s;
}
