.feed {
    flex: 0.9;
    border-right: 1px solid #e6ecf0;;
    /* min-width: fit-content; */
    overflow-y: visible;
  }
  /* to hide the sidebar  for chorme and safari*/
  .feed::-webkit-scrollbar {
    display: none;
  }
  /* to hide the sidebar  for IE and Edge and  Firefox*/
  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid #e6ecf0;;
    padding: 15px 20px;
  }

  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
   
  }