*,* ::after,*::before{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85vh 15vh ;
}

.container .left{
  background-color: #1da1f2; 
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat; 
    
}

.container .left ul .follow{
    margin-right: 140px;
}
.container .left ul .join{
    margin-right: 140px;

}
.container .left ul li {
    list-style-type: none;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: 30px 0px;
    color: white;
}

.container .right{
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .right .card{
   margin-left: 200px;
   margin-bottom: 100px;
}

.container .right .card .image{
 display: flex;
 justify-content: space-between;
 margin-left: -20px;
 /* margin-bottom: 100px; */
}

.container .right .card h1{
   font-size: 40px;
   line-height: 50px;
   color: black;
   margin-right: 250px;
   direction: ltr;
   text-align: left;
   }
   .container .right .card p{
    font-size: 22px;
    line-height: 32px;
    color: black;
    font-weight: bold;
    margin-right: 500px;
    }
   
button.btn{
    display: block;
    font-size: 17px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: bold;
    color: white;
    background-color: #1da1f2;
    width: 70%;
    height: 60px;
    border: none;
    outline: none;
    margin-bottom: 0.8rem;
}
button.btn:hover{
    background-color:#2596be;
    transition: 0.5s;
}
button.btn1{
    display: block;
    font-size: 17px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: bold;
    color:#1da1f2;
    background-color: white;
    width: 70%;
    height: 60px;
    border: none;
    outline: none;
    border:1px  solid #1da1f2;
   
}

button.btn1:hover{
    background-color: #74cafe;
    transition: 0.5s;
    color: white;
}
.container .bottom{
    grid-column: 1 / -1;
    border-top:1px solid  #aab8ca ;
}

.container .bottom ul{
    text-align: center;
    color: #aab8ca;
   
}
.container .bottom ul li{
    display: inline-block;
margin: 0 6px;

}
.container .bottom ul li a{
    text-decoration: none;
    font-size: 18px;
    color:gray;
    font-weight: 300;
}

.container .bottom ul li a:hover{
    text-decoration:underline;
}

