*,* ::after,*::before{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
 
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85vh 15vh ;
     background-image: url("https://i.imgur.com/kEi7iVt.png");
     background-repeat: no-repeat;
    

}

.container .left{
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .left ul .follow{
    margin-top: 52px;
    margin-right: 130px;
}
.container .left ul .join{
    margin-right: 120px;

}
.container .left ul li {
    list-style-type: none;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    margin: 43px 0px;
    color: white;
}
.container .right{
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .right .card{
   margin-left: 80px;
}

.container .right .card .image{
 display: flex;
 justify-content: space-between;
 margin-left: -20px;
 /* margin-bottom: 100px; */
}

.container .right .card h1{
   font-size: 30px;
   line-height: 50px;
   color: black;
   margin-right: 150px;
}
.container .right .card h4{
    margin-left: 8px;
 }
.container .right .card p{
    font-size: 18px;
    line-height: 32px;
    color: black;
    font-weight: bold;
    margin-right: 500px;
}
   
button.btn{
    display: block;
    font-size: 17px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: bold;
    color: white;
    background-color: #1da1f2;
    width: 28vw;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 0.8rem;
}
button.btn:hover{
    background-color:#2596be;
    transition: 0.5s;
}
button.btn1{
    display: block;
    font-size: 17px;
    line-height: 20px;
    border-radius: 100px;
    font-weight: bold;
    color:#1da1f2;
    background-color: white;
    width: 28vw;
    height: 50px;
    border: none;
    outline: none;
    border:1px  solid #1da1f2;
   
}

button.btn1:hover{
    background-color: #74cafe;
    transition: 0.5s;
    color: white;
}
.container .bottom{
    grid-column: 1 / -1;
}

.container .bottom ul{
    text-align: center;
    color: #7c8796
}
.container .bottom ul li{
    display: inline-block;
    margin: 0 5px;
}
.container .bottom ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #7c8796
}

.container .bottom ul li a:hover{
    text-decoration:underline;
}
.bottom{
    margin-top: 30px;
}