.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color:  #50b7f5;
    transition: color 100ms ease-out;
    width: 180px;
  }
  
  .sidebarOption  {
    padding:0.3px;
  }

  

  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .sidebarOption--active {
    color:  #50b7f5;
  }