.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color:  #50b7f5;
    transition: color 100ms ease-out;
  }
  
  .sidebarOption  {
    padding:0.3px;
  }

  
  /* .MuiSvgIcon-root {
    padding: 20px;
  } */
  
  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .sidebarOption--active {
    color:  #50b7f5;
  }