.sidebar {
  position: sticky  !important;
  border-right: 1px white;
  flex: 0.4;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.sidebar__twitterIcon {
  color:  #50b7f5;
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color:  #50b7f5 !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.link{
  color:black;
  font-style: none;
}