<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <title>Sign In</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method=POST class="col" action="{{ url_for('signin') }}">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="field" name="username">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="field" name="password">
                    <br>
                    <button type="submit" class="btn">Sign In</button>
                </form>
                <br>
                <div>
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>